@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "ff-meta-web-pro";
  margin:10px;
}

p {
  font-family: "ff-meta-web-pro";
  margin: -10px 0px 15px 12px;
  color: #E83131;
}

#textbox {
  position: fixed;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0px 15px;
  z-index: 2;
  box-shadow: 5px -5px 0px #aaa;
}

#map {
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%;
}
