@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "ff-meta-web-pro";
  margin:10px;
}

p {
  font-family: "ff-meta-web-pro", sans-serif;
  margin: -5px 0px 10px;
  color: #E83131;
  text-align: center;
}

a {
  color: #E83131;
  font-weight: 700;
  &:hover {
    text-decoration: none;
  };
}

#wrapper {
  position: absolute;
  margin-bottom: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 2;
  text-align: center;
}

#textbox {
  margin: 0 auto;
  width: 460px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1px 15px 8px;
  z-index: 2;
}

#map {
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%;
}
