/* line 3, /Users/danielkirsch/code/containermap/source/stylesheets/all.scss */
body {
  margin: 0;
  padding: 0; }

/* line 8, /Users/danielkirsch/code/containermap/source/stylesheets/all.scss */
h1 {
  font-family: "ff-meta-web-pro";
  margin: 10px; }

/* line 13, /Users/danielkirsch/code/containermap/source/stylesheets/all.scss */
p {
  font-family: "ff-meta-web-pro", sans-serif;
  margin: -5px 0px 10px;
  color: #E83131;
  text-align: center; }

/* line 20, /Users/danielkirsch/code/containermap/source/stylesheets/all.scss */
a {
  color: #E83131;
  font-weight: 700; }
  /* line 23, /Users/danielkirsch/code/containermap/source/stylesheets/all.scss */
  a:hover {
    text-decoration: none; }

/* line 28, /Users/danielkirsch/code/containermap/source/stylesheets/all.scss */
#wrapper {
  position: absolute;
  margin-bottom: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 2;
  text-align: center; }

/* line 37, /Users/danielkirsch/code/containermap/source/stylesheets/all.scss */
#textbox {
  margin: 0 auto;
  width: 460px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1px 15px 8px;
  z-index: 2; }

/* line 45, /Users/danielkirsch/code/containermap/source/stylesheets/all.scss */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }
