---
title: Glascontainer in Münster
---

.container
  #wrapper
    #textbox
      %h1 Glascontainer in Münster
      %p
        Ein Projekt des 
        %a{href: "http://codeformuenster.github.io/opendataday/"} Open Data Day 2014 
        in Münster von 
        %a{href: "https://twiter.com/peterlih"} @peterlih
        \.
  #map

:javascript
  var map = L.mapbox.map('map', 'peterlih.hbea31of').setView([51.962, 7.625], 13);

  var containers = new L.mapbox.featureLayer(glass_containers);
  containers.on('click',function(e){

    var content = '';
    for (i in e.layer.feature.properties){
      if ( i.match(/recycling/)) {
        content = content + '<li>' + i + ': ' + e.layer.feature.properties[i]
      }
    }

    e.layer.bindPopup(content);
    e.layer.openPopup();
  });
  containers.addTo(map);


  if (Modernizr.geolocation) {
    navigator.geolocation.getCurrentPosition(function (pos) {
      function posToLatLong(pos) { return [pos.coords.latitude, pos.coords.longitude]; }
      function zoomToPos(pos, geoJSON) { return 16; } // TODO add intelligence

      map.setView(posToLatLong(pos), zoomToPos(pos, glass_containers));

      // Marker for my position
      L.marker(posToLatLong(pos)).addTo(map);
    });
  }
